<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="post" method="/">
        <input type="text" name="crim">
        <input type="text" name="zn">
        <input type="text" name="indus">
        <input type="text" name="chas">
        <input type="text" name="nox">
        <input type="text" name="rm">
        <input type="text" name="age">
        <input type="text" name="dis">
        <input type="text" name="rad">
        <input type="text" name="tax">
        <input type="text" name="ptratio">
        <input type="text" name="b">
        <input type="text" name="lstat">
        <input type="button" value="submit">
        <input type="reset" name="clear">
    </form>
</body>

</html>